.customer-list {
  margin: 20px;
}

.customer-list table {
  border: none;
}

.customer-list th {
  background-color: var(--contrast);
}

td.button {
  border: none;
}

button.delete {
  background-color: var(--warning-light);
  border: 1px solid var(--warning-dark);
  color: var(--warning-dark);
}
