.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    background-color: var(--dark);
}

.react-calendar {
    border: none;
    background-color: var(--dark);
}